<div class="container">
  <header>
    <h1>Lifeline</h1>
  </header>
  <div class="charts-container" ng-if="loaded">
    <!-- <line-plus-bar-chart label="BMI" population-one="BMIPop1" population-two="BMIPop2"></line-plus-bar-chart> -->
    <div class="divider"></div>
    <line-chart label="Blood Pressure" population-one="BPPop1" population-two="BPPop2"></line-chart>
    <div class="divider"></div>
    <multi-bar-chart label="ED and Preventive Visits" population-one="visitPop1" population-two="visitPop2"></multi-bar-chart>
    <!-- <div class="divider"></div> -->
  </div>
</div>
